@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
:root{
  --primary-color:#059669;
  --secondary-color:#0284c7;
  --dark-grey:#4b5563;
  --off-white:#F3F4F6;
}
body{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
/** container **/
.container
{
  padding-left:2rem;
  padding-right: 2rem;
}
.container-center
{
  max-width:600px;
  margin: auto;
}
/** links**/
.link{
text-decoration: none;
padding:0.5rem 1rem;
color:white;
}
.link-primary
{
  background-color:var(--primary-color);
  border-radius: 2rem;
}
.link-secondary
{
  background-color:var(--secondary-color);
  border-radius:2rem;
}
.link-primary:hover,
.link-secondary:hover{
  padding: 0.6rem 1.2rem;
}
hr{
  margin:2rem 0;
}
.read-more
{
  padding:0.5rem 1rem;;
  display: inline-block;
  background-color: var(--primary-color);
  border-radius: 2rem;
  color:white;
  text-decoration: none;
  display:inline-block;
  margin-top: 0.5rem;
}
.read-more:hover{
  padding: 0.6rem 1.2rem;
}
/**     lists    **/
.list-non-bullet
{
  list-style: none;
}
.list-item-inline
{
  display: inline;
  padding:0rem 1.5rem;
}
.list-item-inline a{
text-decoration: none;
color:white;
}
.navigation
{
  background-color:var(--primary-color);
  color:white;
  padding:0.5rem;
  border-bottom-left-radius: 1rem;
}
.nav-pills
{
  text-align: right;
}
.navigation .link-active
{
  font-weight: bold;
}

/*** header ***/
.hero
{
 padding:1rem;
}
.hero .hero-image
{
  max-width:350px;
  display: block;
  margin:auto;
}
.hero-heading
{
  color:var(--dark-grey);
  text-align: center;
}
.hero .heading-inverted
{
  color:var(--primary-color);
}
/*** section ***/
.section{
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: center;
  width: 70vw;
  margin: auto;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}
.section h3
{
  text-align: center;
}
.ow
{
  background-color: var(--off-white);
}
/*** footer ***/
.footer
{
  background-color: var(--primary-color);
  padding: 1.5rem 0rem;
  text-align: center;
  border-top-right-radius:0.5rem ;
}
.footer .list-item-inline
{
  color:white;
}
ul{
  padding-inline-start:0;
}
.section-description
{
  padding-bottom: 1rem;
}